.right{
    display: flex;
    gap: 25px;
    font-family: sans-serif;
    color: aliceblue;
 }

 /* .right button {
    width: 100px;
    height: 30px;
    background-color: transparent;
    border-radius: 1px solid orange;
    color: orange;
    letter-spacing: 1px;
    border: none;
 } */

.all-container{
    background-color: rgb(48, 11, 122);
}





/* <button class="button-28" role="button">Button 28</button> */

/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #df6919;
  border-radius: 5px;
  box-sizing: border-box;
  color:#df6919;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  /* font-size: 16px; */
  /* font-weight: 600; */
  line-height: normal;
  margin: 0;
  /* min-height: 60px; */
  min-width: 0;
  outline: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: 100%; */
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}


/* 
.button-28:active {
  box-shadow: none;
  transform: translateY(0);
} */