<div class="all-container">
    <div class="header-container">
        <div class="left">
            <h1 style="color: white;">FARSTAY</h1>
        </div>
        <div class="right">
        
             <div class="links"> 
                <div class="main" >Home </div>
            </div>
            <div class="links">
                <div class="main" >About </div>
                
            </div>
            <div class="links">
                <div class="main" >Far Stays </div>
                
            </div>
            <div class="links">
                <div class="main" >Membership </div>
                
            </div>
            <div class="links">
                <div class="main" >Partner with us </div>
                
            </div>
            <div class="links">
                <div class="main" >Contact us </div>
                
            </div>
            <div class="link .button-28">
                <button class="button-28" role="button">Sign in</button>
            </div> 
            
        </div>
    </div>
</div>