/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #0d0949;
    --color-success: #00bf38;
    --color-danger: #f75842;
    --color-warning: #f7c94b;
    --color-danger-varient: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #d0d3fc;
    --color-bg2: #959eff;


    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;


    --transition: all 400ms ease;
}


body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-bg);
    background: var(--color-white);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: #4c3fff;
}


img {
    width: 100%;
    display: block;
    object-fit: cover;
}


.btn {
    display: inline-block;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-black);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);

}

.all-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container{
    max-width: 1140px;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

